{% load static %}

{% include "header.html" %}
   




<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<div> 
    <form method="get">
        <input type="text" name="search"/>
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    
        
    </form>
</div>
<div class="container my-4">
  <div class="row g-4 justify-content-center">
    {% for rent in rent %}
  
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex">
      <div class="card shadow-sm w-100">
        <div class="card-body">
          <h5 class="card-title">Address: {{ rent.adress }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">BHK: {{ rent.bhk }}</h6>
          <p class="card-text">Description: {{ rent.description }}</p>
        </div>
        <a href="{% url 'booking' rent.id %}">Book now</a>
      </div>
    </div>
    
    {% endfor %}
  </div>
</div>











    {% include "footer.html" %}
    
</body>
</html>